.Weather {
  text-align: center;
  color: rgb(48, 30, 30);
  font-size: 18px;
  font-weight: 300px;
}
.form {
  color: red;
  text-align: center;
  padding: 20px auto;
}
ul {
  list-style: none;
}
h4 {
  color: blue;
  text-align: center;
}
